body {
    background-color: #FFFFFF;
}

.dot-navigation {
  margin-top: 300px;
  margin-left: 300px;
}

.dot-navigation {
  display: inline;
}

.dot-navigation li {
  list-style-type: none;
}

.dot-navigation li a {
    margin: 0 7.5px;
    width: 10px;
    height: 10px;
    float: left;
    position: relative;
    background-color: #D2D2D2;
    border-radius: 5px;
    text-decoration: none;
}

.dot-navigation li a.current {
  border: 1px solid #D2D2D2;
  background-color: transparent;
  width: 8.5px;
  height: 8.5px;
  margin-top: -0.75px;
  -webkit-transition: ease-in-out, .35s ease-in-out;
  transition: ease-in-out, .35s ease-in-out;
}
